.generalBattleContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.generalBattleContainer .battleContainer{
    width: 100%;
    height: 100%;
    position: relative;
}

.generalBattleContainer .playerCreatureContainer{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.generalBattleContainer .playerCreatureContainer.rival{
    top: 60px;
    right: 40px;
    left: auto;
    width: 200px;
    height: 200px;
}

.generalBattleContainer .playerCreatureContainer .healthContainer{
    width: 100%;
}

.generalBattleContainer .playerCreatureContainer .healthBar{
    width: 100%;
}

.generalBattleContainer .playerCreatureContainer.rival .healthBar{
    block-size: 1em;
}

.generalBattleContainer .rival .icon{
    width: 26px;
    height: 26px;
}

.generalBattleContainer .buffContainer{
    position: relative;
}

.generalBattleContainer .rival .category{
    width: 26px;
    height: 26px;
}

.generalBattleContainer .buffCount{
    background-color: var(--select-bg-color);
    color: var(--select-color);
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
}

.generalBattleContainer .rival .buffCount{
    width: 22px;
    height: 22px;
    font-size: small;
}

.generalBattleContainer .imgsContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.generalBattleContainer .iconsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.generalBattleContainer .creatureImgContainer{
    display: flex;
    flex-direction: column;
}

.generalBattleContainer .rival .imgsContainer{
    justify-content: right;
}

.generalBattleContainer .rival .iconsContainer{
    order: 1;
}

.generalBattleContainer .rival .creatureImgContainer{
    order: 0;
}

.generalBattleContainer .playerCreatureContainer .creatureImgContainer svg{
    width: 210px;
    height: 210px;
    transform: scale(-1,1);
}

.generalBattleContainer .playerCreatureContainer.rival .creatureImgContainer svg{
    width: 130px;
    height: 130px;
    transform: scale(1,1);
}

.generalBattleContainer .battleGround{
    width: 300px;
    height: 60px;
    background-color: rgb(117, 59, 21);
    border-radius: 100%;
    position: absolute;
    bottom: 20px;
    border: solid 3px var(--main-border-color);
}

.generalBattleContainer .rival .battleGround{
    width: 195px;
    height: 40px;
    bottom: 18px;
}

.generalBattleContainer .optionsContainer{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: solid 2px var(--main-border-color);
    box-shadow: 0px 0px 10px var(--main-color);
    padding: 10px;
    width: 700px;
    height: 100px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    align-self: center;
    margin: 10px;
}

.generalBattleContainer .optionsContainer .option{
    border-radius: 10px;
    border: solid 2px var(--main-border-color);
    box-shadow: 0px 0px 10px var(--main-color);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.generalBattleContainer .optionsContainer .option:hover{
    cursor: pointer;
    background-color: var(--select-bg-color);
    color: var(--select-color);
}

.generalBattleContainer .optionsContainer img{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
}

.generalBattleContainer .attack{
    background-color: rgb(236, 24, 24);
}

.generalBattleContainer .change{
    background-color: rgb(35, 231, 9);
}

.generalBattleContainer .surrender{
    background-color: rgb(255, 255, 255);
}

.generalBattleContainer .optionsContainer .option .icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.generalBattleContainer .optionsContainer .option .icons .icon{
    width: 25px;
    height: 25px;
}

.generalBattleContainer .optionsContainer .option{
    height: 50px;
}

.generalBattleContainer .messageContainer{
    width: 100%;
    height: 100%;
    position:relative
}

.generalBattleContainer .continue{
    border-radius: 10px;
    border: solid 2px var(--main-border-color);
    box-shadow: 0px 0px 10px var(--main-color);
    width: 100px;
    bottom: 0px;
    right: 0px;
    position:absolute
}

.generalBattleContainer .continue:hover{
    cursor: pointer;
    background-color: var(--select-bg-color);
    color: var(--select-color);
}