.chooseAttackContainer{
    display: flex;
    flex-direction: column;
}

.chooseAttackContainer .attacksContainer{
    all: unset;
    
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.chooseAttackContainer .creatureAttacks{
    all: unset;

    display: flex;
    flex-direction: column;
    width: 260px;
    gap: 20px;
}

.chooseAttackContainer .attackContainer{
    all: unset;

    display: flex;
    flex-direction: column;
    border: 1px solid var(--main-border-color);
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--main-color);
    padding: 8px;
    gap: 10px;
}

.chooseAttackContainer .section1{
    all: unset;

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.chooseAttackContainer .section1 .icons{
    all: unset;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.chooseAttackContainer .section2{
    all: unset;

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.chooseAttackContainer .buttonOption{
    border: 1px solid var(--main-border-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--main-color);
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
}

.chooseAttackContainer .buttonOption:hover{
    cursor: pointer;
    background-color: var(--select-bg-color);
    color: var(--select-color);
}

.chooseAttackContainer .attackDescription{
    position: absolute;
    background-color: var(--select-bg-color);
    color: var(--select-color);
    width: 230px;
    height: 120px;
    border: 1px solid var(--main-border-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--main-color);
    visibility: hidden;
    align-content: center;
}