.creaturesBackpackContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.creaturesBackpackContainer h2{
    margin-bottom: 0px;
}

.creaturesBackpackContainer .creaturesContainer{
    --creature-width: 400px;
    
    display: grid;
    grid-template-columns: repeat(2,var(--creature-width));
    justify-content: center;
    gap: 5px;
}

.creaturesBackpackContainer .creatureContainer{
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 90px;
    padding: 6px;
    gap: 3px;
    border: solid 1px var(--main-border-color);
    box-shadow: 0px 0px 10px var(--main-color);
}

.creaturesBackpackContainer .creatureImgContainer{
    max-height: 90px;
    max-width: 90px;
    line-height: 1;
    display: flex;
    flex-direction: column;
}

.creaturesBackpackContainer .creatureImgContainer svg{
    width: 100%;
    height: 100%;
}

.creaturesBackpackContainer .basicInfoContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
}

.creaturesBackpackContainer .basicInfoContainer .healthBar{
    width: 100%;
    block-size: 10px;
}

.creaturesBackpackContainer .basicInfoContainer .healthBar::-webkit-meter-bar{
    block-size: 10px;
}

.creaturesBackpackContainer .iconContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.creaturesBackpackContainer .buttonsContainer{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.creaturesBackpackContainer .button{
    border: solid 1px var(--main-border-color);
    box-shadow: 0px 0px 10px var(--main-color);
    border-radius: 10px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.creaturesBackpackContainer .sell{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.creaturesBackpackContainer .button:hover{
    cursor: pointer;
    background-color: var(--select-bg-color);
    color: var(--select-color);
}


.creaturesBackpackContainer .attackContainer{
    all: unset;

    display: flex;
    flex-direction: row;
    border: 1px solid var(--main-border-color);
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--main-color);
    padding: 8px;
    gap: 10px;
}

.creaturesBackpackContainer .section1{
    all: unset;

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.creaturesBackpackContainer .section1 .icons{
    all: unset;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.creaturesBackpackContainer .section2{
    all: unset;

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.creaturesBackpackContainer .buttonOption{
    border: 1px solid var(--main-border-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--main-color);
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
}

.creaturesBackpackContainer .buttonOption:hover{
    cursor: pointer;
    background-color: var(--select-bg-color);
    color: var(--select-color);
}

.creaturesBackpackContainer .attackDescription{
    position: absolute;
    background-color: var(--select-bg-color);
    color: var(--select-color);
    width: 230px;
    height: 120px;
    border: 1px solid var(--main-border-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--main-color);
    visibility: hidden;
    align-content: center;
}