.generalContainer{
    width: 100vw;
    height: 100vh;

    background-color: #ca262644/*var(--default-bg-color)*/;
}

.generalPosition{
    padding-top: 2rem;
}

.centralContainer{
    margin: 0 auto;
    background-color: var(--main-bg-color);
    color: var(--default-color);
    width: 900px;
    height: 500px;
    border-radius: 20px;
    border: solid 2px var(--main-border-color);
    box-shadow: 0px 0px 10px var(--main-color);
}