#root {
  margin: 0;
  width: 100%;
  max-width: none;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  user-select: none;

  display: flex;
  flex-direction: column;
}

meter{
  block-size: 100%;
}

meter::-webkit-meter-bar{
  background: rgba(228, 228, 228, 0.911);
}