:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*Constantes de estilo*/
  --default-bg-color: #bbff9956;
  --main-bg-color: rgba(255, 255, 255, 0.719);
  --main-color: black;
  --main-border-color: rgb(61, 61, 61); 
  --select-bg-color: rgb(59, 59, 59);
  --select-color: white;
  --skin-width: 100px;

  color: var(--main-color);
  background: url("./src/assets/backgrounds/test.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
